@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 16px;
}

.bg-img {
    background-image: url("/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fill-img {
    object-fit: fill;
}

